# /lib/systemd/system/liveview.service

[Unit]
Description=Live View Service for gPhoto2
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/Gphoto2_Config/liveView.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
