# /lib/systemd/system/mygphoto.service
[Unit]
Description=gphoto2 live view service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo /bin/bash -lc '~/Gphoto2/liveView.sh'
Restart=on-abort

[Install]
WantedBy=multi-user.target
