[Unit]
Description=Capture Movie Stream and Play with MPlayer
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'gphoto2 --capture-movie --stdout | mplayer -cache 128 -'
ExecReload=/bin/sh -c 'gphoto2 --capture-movie --stdout | mplayer -cache 128 -'
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
